<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Ad</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div>
<h1>Create an ad!</h1>

<form method="post" th:action="@{/createAd}" th:object="${adEntity}" enctype="multipart/form-data">

    <label for="title">Title</label>
    <input type="text" placeholder="title..." id="title" th:field="*{Title}">

    <label for="desc">Description</label>
    <input type="text" placeholder="description..." id="desc" th:field="*{Description}">

    <label for="img">Image</label>
    <input type="file" id="img" name="img" accept=".jpg, .jpeg, .png" th:field="*{Image}">

    <label for="category">Select Category:</label>
    <select id="category" name="categories" th:field="*{categories}">
        <option th:each="categories : ${categories}" th:value="${categories.name()}" th:text="${categories.name()}"></option>
    </select>

    <p 	th:if="${#fields.hasErrors('Title')}"
          th:errorclass="error"
          th:errors="*{Title}">
    </p>

    <p 	th:if="${#fields.hasErrors('categories')}"
          th:errorclass="error"
          th:errors="*{categories}">
    </p>

    <!-- Show MULTIPLE errors at once -->
    <ul>
        <li th:each="error : ${#fields.errors('Description')}" th:text="${error}" class="error">
    </ul>

    <!-- Show ANY error in the form -->
    <div th:if="${#fields.hasAnyErrors()}">
        <ul>
            <li th:each="error : ${#fields.allErrors()}" th:text="${error}">

            </li>
        </ul>
    </div>

    <button type="submit">Post Ad!</button>


</form>
</div>

</body>
</html>