<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Ad Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<a th:href="@{/}" class="flex justify-center mt-2 text-6xl font-bold"> Gym Bro
    <img width="72px" height="100px" src="../static/images/dumb.png" alt="This Image could not be loaded" class="ml-2">
</a>


<h1>Are you sure?</h1>

<form th:action="@{/deleteAd(adId=${adId})}" th:method="post">
    <input type="text" th:name="adId" th:value="${adId}">

    <label for="title">Title</label>
    <p type="text" id="title" th:name="title" th:value="${adTitle}"></p>
    <br>

    <label for="desc">Description</label>
    <p th:name="description" id="desc" cols="50" rows="4" th:text="${adDescription}"></p>
    <br>

    <button type="submit">Delete</button>


</form>
</body>
</html>