<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex-col min-w-screen min-h-screen">
    <h1 class="flex justify-center mt-2 text-6xl font-bold"> Gym Bro </h1>
        <img width="100px" height="100px" src="../static/images/hammer.png" alt="This Image could not be loaded">
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Category</th>
                <th>Image</th>
            </tr>
            </thead>
            <tbody>
            <div class="flex items-center">
            <tr th:each="adEntity : ${products}">
                <td th:text="*{adEntity.title}" class="text-4xl"></td>
                <td th:text="*{adEntity.description}"></td>
                <td th:text="*{adEntity.categories}"></td>
            </tr>
            </div>
            </tbody>
        </table>
        <div class="flex flex-col items-center mt-8">
    <a th:href="@{/login}" class="mt-2 bg-sky-400 rounded-md p-2 px-12"> Login!</a>
    <a th:href="@{/register}" class="bg-red-400 rounded-md mt-2 flex justify-center mt-2 p-2">Register Account!</a>
        </div>
    </div>

</body>
</html>




