<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Ads Page</title>
</head>
<body>

<h1>This is my ads page!</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
  </tr>
  </thead>
  <tbody>
  <div>
    <tr th:each="products : ${userAds}">
      <td th:text="*{products.title}"></td>
      <td th:text="*{products.description}"></td>
      <td th:text="*{products.categories}"></td>
      <td>
        <a th:href="@{/editAd(adId=${products.id})}">Edit Info</a>
      </td>
      <td>
        <a th:href="@{/deleteAd(adId=${products.id})}">Delete</a>
      </td>
    </tr>
  </div>
  </tbody>
</table>

</body>
</html>