<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

 <h1>Register Account!</h1>

 <form method="post" th:action="@{/register}" th:object="${userEntity}">
     <label for="username">
         <input type="text" th:field="*{username}" id="username" placeholder="username...">
     </label>
     <br>
     <br>
     <input type="password" th:field="*{password}" placeholder="password..." id="password">

     <label for="roles">Select Role:</label>
     <select id="roles" name="roles" th:field="*{role}">
         <option th:each="role : ${roles}" th:value="${role.name()}" th:text="${role.name()}"></option>
     </select>

     <button type="submit">Register</button>

     <p 	th:if="${#fields.hasErrors('username')}"
           th:errorclass="error"
           th:errors="*{username}">
     </p>

     <!-- Show MULTIPLE errors at once -->
     <ul>
         <li th:each="error : ${#fields.errors('password')}" th:text="${error}" class="error">
     </ul>

     <!-- Show ANY error in the form -->
     <div th:if="${#fields.hasAnyErrors()}">
         <ul>
             <li th:each="error : ${#fields.allErrors()}" th:text="${error}">

             </li>
         </ul>
     </div>

 </form>

</body>
</html>